@import "tailwindcss";

:root {
    --bg-color: #f3f4f6;
    --text-color: #111827;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111827;
        --text-color: #f9fafb;
    }
}