@import "tailwindcss";

:root {
    --bg-color: #f0fdf4;
    --text-color: #14532d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #14532d;
        --text-color: #f0fdf4;
    }
}